<div class="info">
    鼠标拖拽调整热词顺序，搜索框默认展示第一个热词，其他搜索词将以标签形式显示在搜索页中 <a>查看示例</a>
</div>
<div class="hotwords">
    <form ng-submit="event.preventDefault(),add()">
        <list elementid=wordlist>
            <padding ng-repeat="i in keys()" class="item">
                <input ng-model=hotwords[i] />
                <icon class="remove" ng-click="hotwords.splice(i,1)">×</icon>
            </padding>
        </list>
        <padding>
            <button type="submit" white>+添加热词</button>
        </padding>
    </form>
</div>