<div .head>
    <pic uploadto="/@/data/qfy-data/" ng-src=data.url ng-change="setData(this.value)" />
</div>
<div .body>
    <field ng-if="hastitle!==false" :break="100">
        <div>
            图片标题
        </div>
        <div>
            <input ng-model=data.name />
        </div>
    </field>
    <field :break="100">
        <div>设置链接</div>
        <div>
            <select>
                <option>
                    请选择要跳转的页面
                </option>
            </select>
        </div>
    </field>
</div>