<div class="head">
    <a>微页面</a><span>/</span>
    <span ng-if="params._id">编辑页面</span>
    <span ng-if="!params._id">添加页面</span>
</div>
<div class="body">
    <vbox class="left">
        <mobile class="mobile" ng-style="{background:config.background}">
            <com ng-src=b ng-delete=remove(i) ng-repeat="(b,i) in blocks" ng-class="{activate:b===blocks.active}" ng-click="active(b)"></com>
        </mobile>
        <div class="toolpad">
            <div class="head">基础组件：</div>
            <btn type=grey ng-click="addBlock(c)" ng-repeat="c in coms">
                <span ng-bind="c.name"></span>
            </btn>
        </div>
    </vbox>
    <vbox class="right" elementid=right>
    </vbox>
</div>
<div class="foot">
    <btn type=white ng-click="cancel()" >取消</btn>
    <btn ng-click="save()">保存</btn>
    <btn ng-click=preview()>预览</btn>
</div>