& {
    // padding: 56px 14px 14px 14px;
    position: relative;
    height: 100%;
    width: 100%;
}

@toolpad-height: 210px;

>.body {
    background: #fff;
    padding-left: 16px;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    >vbox {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        height: 100%;
        width: auto;
        position: relative;

        &.left {
            margin-right: 14px;
            width: 377px;
            border: 1.0px solid #ccc;
            overflow: hidden;
        }

        &.right {
            overflow: auto;
        }
    }

}


.mobile {
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: -100px;

    >com {
        width: 375px;
    }

    height: 100%;
    padding-bottom: @toolpad-height;
    overflow-y: auto;
    overflow-x: hidden;

    com {
        >img {
            width: 100%;
            height: auto;
            background-color: #ccc;
            min-height: 36px;
            display: block;
        }

        position: relative;
        display: block;
        min-height: 10px;

        >after {
            content: "";
            color: #0000;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        >.grid {
            width: 100%;
            padding-bottom: 100%;

            cell>.image {
                height: 100%;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 !important;
                position: absolute;
            }
        }

    }
}

.dropping+.toolpad {
    height: 0;
}

.toolpad {
    line-height: 38px;
    height: @toolpad-height;
    margin-top: -@toolpad-height;
    transition: .2s .5s height ease-in;
    background: #ffffff99;
    backdrop-filter: blur(20px);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    btn {
        width: 109px;
        height: 28px;
        line-height: 28px;
        box-shadow: none;
        margin-right: 11px;
    }

    .head {
        line-height: 40px;
    }

    border:1px solid #ccc;
    width: auto;
    padding: 0 0 0 12px;
}

.slider {
    background: #ccc;

    >* {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    padding-bottom: 37.9%;
}

com>after {
    border: 2px dashed transparent;

    x {
        display: inline-block;
        opacity: 1;
        padding: 1px 3px 2px 2px;
        font-size: 16px;
        line-height: 16px;
        vertical-align: top;

        &.close {
            right: 0;
            cursor: pointer;
            display: none;
        }
    }
}

com:hover {
    >after {
        border-color: #0004;
        opacity: .8;

        x {
            background: #0004;
            color: #fff;

            &.close {
                display: inline-block;
            }
        }
    }
}

com.activate {
    >after {
        border-color: #409EFF;

        x {
            background: #409EFF;
            color: #fff;

            &.close {
                display: inline-block;
            }
        }
    }
}

.info {
    color: #999;
    padding: 10px 16px;
}

>.foot {
    text-align: center;
}