& {
    width: 434px;
}

.plus,
.goods {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    font-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-right: 16px;
    vertical-align: top;
}

.padding {
    display: block;
}

.goods-box {
    border: 10px solid transparent;
    border-width: 10px 16px;


    >div {
        background: #fff;
        height: 100px;
        padding: 10px 16px;

        &.head {
            text-align: right;
            padding-right: 0;
            line-height: 1;
        }

        &.body {
            padding-bottom: 0;
            >div {
                width: 80px;
                height: 80px;
                display: inline-block;
                position: relative;
                margin-right: 16px;
                margin-bottom: 16px;
                padding: 10px;
                line-height: 58px;
                border: 1.0px solid #e5e5e5;

                png {
                    width: 60px;
                    height: 60px;
                }
            }

            delete {
                right: -6px;
                top: -6px;
                position: absolute;
            }

            text-align: left;
            white-space: normal;
            color: #409EFF;
        }
    }
}